 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I received my Ph.D. in Computer Science from the
                      University of Bahia (2017). I have experience in Software
                      Engeneering. I worked as a researcher assistent at Reuse
                      in Software Engineering (RiSE) laboratory at UFBA. My
                      research fields of interest
                      are mainly 'Software Evolution/Maintenance/Reuse' but it
                      is not limited to these ones. Judo is my passion.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently a computer science assistant professor
                      at the State University of Piauí (UESPI). I teach software
                      engineering, object-oriented software analysis and design,
                      among other CS related courses.
                      </p>
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div--->
            </div>
        </div>
    </section>
