 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Quem Somos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Somos um pequeno grupo de professores e alunos do Bacharelado de
                    em Ciência da Computação do Campus Professor Antônio Giovanni Alves de Sousa
                    da Universidade Estadual do Piauí. O principal objetivo deste projeto é 
                    propiciar o uso dos conhecimento adquiridos dentro e fora da sala de aula pelo 
                    corpo discente, por meio das atividades de ensino, pesquisa e extensão em engenharia 
                    de software e sistemas aplicadas em projetos de software reais, prestando serviços 
                    de desenvolvimento de software à comunidade.</p>
                </div>
                <div class="col-lg-4">
                    <p>O LES – Laboratório de Engenharia de Software comporta atividades de ensino, 
                    pesquisa e extensão, na forma de projetos de desenvolvimento de software a serem 
                    executados conforme solicitada a posteriori pela comunidade em geral de acordo com modelo em anexo.
                    Cabe à Coordenação do projeto analisar a solicitação, avaliar sua 
                    viabilidade e aprovar sua execução e recrutamento de colaboradores para 
                    a execução do projeto. O recrutamento para a execução dos projetos aceitos 
                    terá ampla divulgação. A cada projeto concluído enviado à PREX relatório
                    de atividades realizadas no período para a certificação devida.
                      </p>
                </div>
                <!--div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div--->
            </div>
        </div>
    </section>
